data/images/
data/masks/
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db
# Ignore dependencies
node_modules/
dist/
build/

# Ignore Python environment and cache
__pycache__/
*.pyc
venv/
.env

# Ignore OS files
.DS_Store
Thumbs.db